a {
  text-decoration: none;
  cursor: pointer;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

header {
  background: linear-gradient(#c63403, #994fd2);
}

header h1 {
  padding: 15px 10px 10px 15px;
  font-size: 2.2em;
  font-weight: 600;
  font-style: italic;
  font-family: 'Courier New', Courier, monospace;
  color: black;
}

header nav {
  float: left;
}

header nav a {
  display: inline-block;
  color: rgb(0, 0, 0);
  width: 90px;
  text-align: center;
  font-size: 14px;
  text-transform: uppercase;
  padding: 5px 0 5px 0;
  background: linear-gradient(#d38a72, #EDD4CC);
  margin-right: 7px;
}

header nav a:hover,
header nav a.active {
  color: #f9dcb4;
  background: linear-gradient(#621900, #822100) !important;
}

.login {
  float: right;
  width: 580px;
}

.login label {
  color: white;
  float: left;
  padding: 5px 5px 5px 10px;
  font-size: 13px;
  text-transform: uppercase;
}

.login input[type="text"],
.login input[type="password"] {
  float: left;
  height: 18px;
  width: 125px;
  border: 1px double rgb(232, 170, 14);
  border-radius: 2px;
  margin-top: 1px;
  font-size: 13px;
}

.login button {
  background: none;
  color: white;
  text-align: left;
  border: 0;
  cursor: pointer;
  float: left;
  overflow: hidden;
  padding: 6px 12px 0px 7px;
  width: 120px;
  font-size: 12px;
}

.errore {
  color: white;
  float: left;
  padding: 0px 15px 0px 7px;
  font-size: 12px;
}

.login span {
  color: white;
  letter-spacing: 0.5px;
  float: right;
  padding: 0px 15px 0px 7px;
  font-size: 1.2em;
}

main {
  /*background-color: #fff;*/
  padding: 0px 10px;
}