/* Reset locale */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a,
a:link,
a:active,
a:visited {
  text-decoration: none;
  cursor: pointer;
}

/* Clearfix */
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

/* Header */
header {
  background: #a32900;
  padding-top: 10px;
}

header h1 {
  padding: 20px 14px 0;
  font-size: 2.2em;
  font-weight: 900;
  color: white;
}

/* Navigation */
header nav {
  float: left;
  padding-top: 15px;
}

header nav a {
  display: inline-block;
  color: white;
  width: 100px;
  text-align: center;
  font-size: 14px;
  text-transform: uppercase;
  padding: 4px 0 5px;
  background: linear-gradient(#daa999, #EDD4CC);
  border-top: solid 1px #daa999;
  margin-right: 5px;
}

header nav a:hover {
  color: #f9dcb4;
  background: linear-gradient(#621900, #822100);
  border-top: solid 1px #210800;
}

/* Login */
.login {
  float: right;
  padding-top: 14px;
  width: 580px;
}

/* Etichette */
.login label {
  color: white;
  float: left;
  padding: 6px 12px 0px 7px;
  font-size: 13px;
}

/* Campi di input */
.login input[type="text"],
.login input[type="password"] {
  float: left;
  height: 18px;
  width: 125px;
  border: 1px solid #A32900;
  border-radius: 4px;
  margin-top: 2px;
  font-size: 13px;
}

.login input:focus {
  outline: none;
}

/* Bottone login */
.login button {
  background-color: #A32900;
  color: white;
  border: 0;
  cursor: pointer;
  float: left;
  overflow: hidden;
  padding: 6px 12px 0px 7px;
  width: 26px;
  font-size: 13px;
}

/* Messaggi di errore */
.errore {
  color: white;
  float: left;
  padding: 6px 15px 0px 7px;
  font-size: 13px;
}

/* Messaggio benvenuto */
.login span {
  color: white;
  float: right;
  padding: 6px 15px 0px 7px;
  font-size: 13px;
}

/* Main */
main {
  background-color: #fff;
  padding: 10px 18px;
}