<header class="clearfix">
  <h1>Bowling</h1>
  <nav class="clearfix">
    <a routerLink="/home">Home</a>
    <a *ngIf="loggedUser" routerLink="/tornei">Tornei</a>
    <a *ngIf="loggedUser" href="#" (click)="logout()">Logout</a>
  </nav>
  <section class="login" *ngIf="!loggedUser; else benvenuto">
    <form (ngSubmit)="login()" #form="ngForm">
      <label>Username:</label>
      <input type="text" name="Username" [(ngModel)]="Username" required />
      <label>Password:</label>
      <input type="password" name="Password" [(ngModel)]="Password" required />
      <button type="submit" [disabled]="form.invalid">Ok</button>
    </form>
    <p class="errore" *ngIf="errore">{{ errore }}</p>
  </section>
</header>

<ng-template #benvenuto>
  <section class="login">
    <span>Benvenuto {{ loggedUser?.Username }}</span>
  </section>
</ng-template>

<main class="clearfix">
  <router-outlet />
</main>