<header class="clearfix">

  <h1>ASD BOWLING FERRARA</h1>

  <nav class="clearfix">
    <a routerLink="/home">Home</a>
    <a *ngIf="loggedUser" routerLink="/atleti">Atleti</a>
    <a *ngIf="loggedUser" routerLink="/tornei">Tornei</a>
    <a *ngIf="loggedUser && (loggedUser.Permessi === 'atleta')" routerLink="/profilo">Profilo</a>
    <a *ngIf="loggedUser && (loggedUser.Permessi === 'atleta')" routerLink="/arsenale">Arsenale</a>
    <a *ngIf="loggedUser" href="#" (click)="logout()">Logout</a>
  </nav>

  <section class="login" *ngIf="!loggedUser; else benvenuto">
    <form (ngSubmit)="login()" #form="ngForm">
      <label>Username :</label>
      <input type="text" name="Username" [(ngModel)]="Username" (ngModelChange)="resetErrore()" required />
      <label>Password :</label>
      <input type="password" name="Password" [(ngModel)]="Password" (ngModelChange)="resetErrore()" required />
      <button type="submit" [hidden]="form.invalid">{{ errore || 'Ok' }}</button>
    </form>
  </section>

</header>

<ng-template #benvenuto>
  <section class="login">
    <span>Benvenuto {{ loggedUser?.Username }}!</span>
  </section>
</ng-template>

<main class="clearfix">
  <router-outlet />
</main>