/* You can add global styles to this file, and also import other style files */
body{
    /*background-image: url(../public/bg.jpg);*/
    /*background-repeat: no-repeat;*/
    background-size: cover;
    margin: 0;
}
