<section class="profilo-form">

    <h2>✏️ Modifica il tuo Profilo</h2>

    <form #form="ngForm" (ngSubmit)="salva()">
      <div class="nome-cognome">
        <label>Nome:
          <input name="nome" [(ngModel)]="atleta.Nome" required minlength="2"/>
        </label>

        <label>Cognome:
          <input name="cognome" [(ngModel)]="atleta.Cognome" required minlength="2"/>
        </label>
      </div>

      <label>Data di Nascita:
        <input name="data_nascita" [(ngModel)]="atleta.Data_nascita" type="date" required/>
      </label>

      <label>Sesso:
        <select name="sesso" [(ngModel)]="atleta.Sesso" required>
          <option value="M">Maschio</option>
          <option value="F">Femmina</option>
        </select>
      </label>

      <label>Braccio Dominante:
        <select name="braccio" [(ngModel)]="atleta.Braccio_dominante" required>
          <option value="Dx">Destro</option>
          <option value="Sx">Sinistro</option>
        </select>
      </label>

      <label>Stile di Gioco:
        <select name="stile" [(ngModel)]="atleta.Stile_gioco" required>
          <option value="Tradizionale">Tradizionale</option>
          <option value="Bimane">Bimane</option>
        </select>
      </label>

      <div class="form-buttons">
        <button type="submit" [disabled]="form.invalid">
          💾 Salva Modifiche
        </button>
        <button type="button" (click)="annulla()" class="cancel-link">
          ❌ Annulla
        </button>
      </div>
    </form>

</section>