<section class="atleta-form">
  <h2>{{ modifica ? 'Modifica Atleta' : 'Nuovo Atleta' }}</h2>

  <form #form="ngForm" (ngSubmit)="salva()">
    <label>Nome:
      <input name="nome" [(ngModel)]="atleta.Nome" required />
    </label>

    <label>Cognome:
      <input name="cognome" [(ngModel)]="atleta.Cognome" required />
    </label>

    <label>Data di Nascita:
      <input name="data_nascita" [(ngModel)]="atleta.Data_nascita" type="date" required />
    </label>

    <label>Sesso:
      <select name="sesso" [(ngModel)]="atleta.Sesso" required>
        <option value="M">Maschio</option>
        <option value="F">Femmina</option>
      </select>
    </label>

    <label>Braccio Dominante:
      <select name="braccio_dominante" [(ngModel)]="atleta.Braccio_dominante" required>
        <option value="Dx">Destro</option>
        <option value="Sx">Sinistro</option>
      </select>
    </label>

    <label>Stile di Gioco:
      <select name="stile_gioco" [(ngModel)]="atleta.Stile_gioco" required>
        <option value="Spinning">Tradizionale</option>
        <option value="Tweener">Bimane</option>
      </select>
    </label>

    <button type="submit" [disabled]="form.invalid">
      {{ modifica ? 'Salva Modifiche' : 'Crea Atleta' }}
    </button>
    <button type="button" (click)="annulla()" class="annulla">Annulla</button>
  </form>
</section>
