<section class="clearfix">
  
  <header class="clearfix">
    <h2>Lista Atleti</h2>
  </header>

  <button *ngIf="isAdmin" routerLink="/atleti/nuovo" class="btn-nuovo">+ Nuovo Atleta</button>
</section>

<section class="lista-atleti clearfix">
  <table *ngIf="atleti.length > 0; else inizio">
    <thead>
      <tr>
        <th (click)="ordinaPer('Nome')">Nome</th>
        <th (click)="ordinaPer('Cognome')">Cognome</th>
        <th (click)="ordinaPer('Data_nascita')">Data di Nascita</th>
        <th (click)="ordinaPer('Stile_gioco')">Stile di Gioco</th>
        <th (click)="ordinaPer('Braccio_dominante')">Braccio Dominante</th>
        <th (click)="ordinaPer('Sesso')">Sesso</th>
        <th *ngIf="isAdmin">Azioni Admin</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let atleta of atleti" (click)="visualizzaInfo(atleta.ID_atleta)" class="atleta-row">
        <td>{{ atleta.Nome }}</td>
        <td>{{ atleta.Cognome }}</td>
        <td>{{ atleta.Data_nascita | date:'dd/MM/yyyy' }}</td>
        <td>{{ atleta.Stile_gioco }}</td>
        <td>{{ atleta.Braccio_dominante }}</td>
        <td>{{ atleta.Sesso }}</td>
        <td class="azioni-td" *ngIf="isAdmin" (click)="$event.stopPropagation()">
          <button [routerLink]="['/atleti/modifica', atleta.ID_atleta]" class="btn-modifica">Modifica</button>
          <button (click)="eliminaAtleta(atleta.ID_atleta)" class="btn-elimina">Elimina</button>
        </td>
      </tr>
    </tbody>
  </table>
</section>

  <ng-template #inizio>
    <span> Nessun atleta trovato... <a routerLink="/atleti/nuovo">Inserisci il primo atleta</a></span>
  </ng-template>
